
.parent {
    height: 500px;
    background-color: aquamarine;
    position: relative;
}


.child {
    width: 200px;
    height: 200px;
}

.child-1 {
    background-color: plum;

    /* Căn chỉnh vị trí của phần tử
    so với phần tử cha chứa position: relative */
    position: absolute;
    bottom: 0px;
}

.child-2 {
    background-color: rgb(188, 96, 4);
    /* Căn chỉnh phần tử so với 
    vị trí ban đầu của nó */
    position: relative;
    left: 100px;
    /* right: 100px; */
    /* bottom: 100px; */
    top: 250px;

}

